<div class="header-container">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">

    <ul class="header-home-slides">
      <li class="header-home-slide" tabindex="-1" aria-hidden="true">
        <div class="images" style="background-image: radial-gradient(circle, rgba(0,0,0,1) 70%, rgba(255,255,255,1) 100%), url("><%= image_tag "landing/boarding_house.jpg", id: "boarding_house"  %></div>
      </li>


        <div class="block-overlay">
          <div class="block-text header-home-caption">
            <h1 id="title"><span class="logo"></span> <strong>Boarding House</strong> Lübeck</h1>
              <div id="middle-txt">
                <div id="coming_soon"><h1>Coming Soon</h1></div>
                <div id="sommer"><h2>Sommer 2020</h2></div>
              </div>
              <div id="bottom_text">
                <div id="address"><h2>Königstrasse 1 - 23552 Lübeck</h2></div>
              </div>
          </div>
        </div>
    </ul>
</div>

